{% extends "base.html" %}
{% block add_company %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-size: 20px"> Add Company</h1>
        </div>
    </div>

    <div class="row">
                <br>
                <div class="col-md-4">
                    <form role="form" method="post" id="company_add" action="javascript:void(null);" onsubmit="call('company_add')">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label>Company Name</label>
                                {{ form.company_name }}
                                </div>
                            <div class="form-group">
                                <label>Contact Name</label>
                                {{ form.contact_name }}
                                </div>
                            <div class="form-group">
                                <label>Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label>Telephone number</label>
                                {{ form.phone }}
                            </div>
                            <div class="form-group">
                                <label>Package</label>
                                {{ form.package }}
                                </div>
                            <div class="form-group">
                                <label>Permissions update</label>
                                {{ form.update }}
                                </div>
{#                            <div class="form-group">#}
{#                                <label>Who manager </label>#}
{#                                {{ form.who_is_admin }}#}
{#                            </div>#}
                            <div class="form-group">
                                <label>Choose Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label>Password Again</label>
                                {{ form.password2 }}
                            </div>
                            <div class="form-group">
                                <input class="btn btn-lg btn-info btn-block" type="submit" value="Save">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
    <script type="text/javascript" language="javascript">
        function call(idForm) {
            var msg = $('#' + idForm).serializeArray();
            msg.push({name: "form_type", value: idForm});
            $.ajax({
                type: 'POST',
                url: '{{ request.path }}',
                data: msg,
                success: function (data) {
                    success_notify();
                },
                error: function (xhr, str) {
                    danger_notify(xhr.responseCode);
                }
            });
        }
    </script>
{% endblock %}