{#{% extends "base.html" %}#}
{% block upload_file %}
    <div class="panel-body">
    <div class="row1">
        {% if user == 'is_staff' %}
            <form method="post">
                {% csrf_token %}
                {{ table_form }}
                <input type="submit" class="btn btn-sm btn-info" value="Add">
            </form>
        {% endif %}
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <div id="dataTables-example_wrapper"
                     class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width:25%">Data type</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>CHARACTER(n)</td>
                            <td>Character string. Fixed-length n</td>
                        </tr>
                        <tr>
                            <td>VARCHAR(n) or<br>CHARACTER VARYING(n)</td>
                            <td>Character string. Variable length. Maximum length n</td>
                        </tr>
                        <tr>
                            <td>INTEGER(p)</td>
                            <td>Integer numerical (no decimal). Precision p</td>
                        </tr>
                        <tr>
                            <td>SMALLINT</td>
                            <td>Integer numerical (no decimal). Precision 5</td>
                        </tr>
                        <tr>
                            <td>INTEGER</td>
                            <td>Integer numerical (no decimal). Precision 10</td>
                        </tr>
                        <tr>
                            <td>BIGINT</td>
                            <td>Integer numerical (no decimal). Precision 19</td>
                        </tr>
                        <tr>
                            <td>DECIMAL(p,s)</td>
                            <td>Exact numerical, precision p, scale s. Example: decimal(5,2) is a
                                number that has 3 digits before the decimal and 2 digits after the decimal
                            </td>
                        </tr>
                        <tr>
                            <td>NUMERIC(p,s)</td>
                            <td>Exact numerical, precision p, scale s. (Same as DECIMAL)</td>
                        </tr>
                        <tr>
                            <td>FLOAT(p)</td>
                            <td>Approximate numerical, mantissa precision p. A floating number in base
                                10 exponential notation. The size argument for this type consists of a
                                single number specifying the minimum precision
                            </td>
                        </tr>
                        <tr>
                            <td>REAL</td>
                            <td>Approximate numerical, mantissa precision 7</td>
                        </tr>
                        <tr>
                            <td>FLOAT</td>
                            <td>Approximate numerical, mantissa precision 16</td>
                        </tr>
                        <tr>
                            <td>DATE</td>
                            <td>Stores year, month, and day values</td>
                        </tr>
                        <tr>
                            <td>TIME</td>
                            <td>Stores hour, minute, and second values</td>
                        </tr>
                        <tr>
                            <td>TIMESTAMP</td>
                            <td>Stores year, month, day, hour, minute, and second values</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}