{% block upload_file %}
    <div class="panel-body">
        <div class="row">
            {% if user == 'is_staff' %}
                <div class="panel-group" id="collapse-group">
                    {% for table in tables_change %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#collapse-group"
                                       href="#el_{{ table }}">{{ table }}</a>
                                </h4>
                            </div>
                            <div id="el_{{ table }}" class="panel-collapse collapse">
                                <div class="panel-body" id="bd_{{ table }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        {% autoescape off %}
            var columns = {{ columns_change }};
            var table = {{ tables_change }};
        {% endautoescape %}
        var c = 3;
        for (var j = 0; j < table.length; j++) {
            var col = document.getElementById("bd_" + table[j]);
            for (var i = 0; i < columns.length; i++) {
                var node_col = document.createTextNode(columns[i] + '\n');
                col.appendChild(node_col);
                break;
            }
            columns.splice(0, 1);
        }

    </script>
{% endblock %}