<script src="/static/js/c3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div class="row">
    {% if exist %}
        {% for foo in main %}
            <button class="btn btn-sm btn-danger" id="delete" name="delete" onclick="deleteChart({{ foo }});">
                Delete
            </button>
            <div id="chart_{{ foo }}"></div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No charts</p>
    {% endif %}
</div>

<script>
    function deleteChart(id_chart) {
        if (confirm("Are you sure?")) {
            return $.ajax({
                type: "DELETE",
                url: "{{ request.path }}delete/"+id_chart,
                data: {},
                dataType: "json",
                success: window.location.href = "{{ request.path }}"
            });
        }
    }

    {% autoescape off %}
        var j_data = {{ j_data }};
        var axis = {{ axis }};
    {% endautoescape %}
    var c = 0;
    {% for iter in main %}
        for (var j = 0; j < j_data[0][{{ iter }}-{{ iter }}+c].length; j++) {
            var chart = c3.generate({
                bindto: '#chart_{{ iter }}',
                data: j_data[0][{{ iter }}-{{ iter }}+c][j]
                //axis: axis
            });
        }
        c++;
    {% endfor %}

</script>