{% extends "base.html" %}

{% block product_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-size: 20px">Data Collect</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container" style="width: 100%">
        <ul class="nav nav-tabs">
            <li><a href="/product/general/">Add data</a></li>
            <li><a href="/product/data_collect_files/">Data Collect Files</a></li>
        </ul>
        <br/>

    </div>

    {% if request.path == '/product/general/' %}
        <div class="col-lg-10">
            {% include "pages/xls_uploader.html" %}
        </div>
    {% elif request.path == '/product/data_collect_files/' %}
        <div class="col-lg-10">
            {% include "pages/data_collect_files.html" %}
        </div>

    {% endif %}


    {% if request.path != '/product/general/' and request.path != '/product/data_collect_files/' %}
        <div class="col-lg-10">
            <button class="btn btn-sm btn-danger" id="delete" name="delete" onclick="deleteItem();">
                Delete all data
            </button>
        </div>
        <div class="col-lg-2">
            <p>{{ file_name.file_name }}</p>
        </div>
        <br>
        {% for table in tables %}
            <div class="container" style="margin-top: 20px; width: 100%">
                <div id="jsGrid" class="jsGrid"></div>
            </div>
        {% endfor %}

    {% endif %}

    <script>
        function deleteItem() {
            if (confirm("Are you sure?")) {
                return $.ajax({
                    type: "DELETE",
                    url: "{{ request.path }}delete_all/",
                    data: {},
                    dataType: "json",
                    success: window.location.href = "{{ request.path }}"
                });
            }
        }

        {% autoescape off %}
            var clients = {{ items }};
        {% endautoescape %}
        $("#jsGrid").jsGrid({
            width: "100%",

            inserting: true,
            sorting: true,
            editing: true,
            paging: true,
            autoload: true,
            confirmDeleting: true,
            pageSize: 15,
            pageButtonCount: 5,

            controller: {
                loadData: function () {
                    return clients;
                },

                insertItem: function (item) {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "POST",
                        url: "{{ request.path }}insert/",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "{{ request.path }}"
                    });
                },

                updateItem: function (item) {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "PUT",
                        url: "{{ request.path }}update/",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "{{ request.path }}"
                    });
                },

                deleteItem: function (item) {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "DELETE",
                        url: "{{ request.path }}delete/",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "{{ request.path }}"
                    });
                }
            },

            {% autoescape off %}
                fields: [{
                    headerTemplate: function () {
                        return $("<button>").attr("type", "button").text("Delete")
                                .on("click", function () {
                                    deleteSelectedItems();
                                });
                    },
                    itemTemplate: function (_, item) {
                        return $("<input>").attr("type", "checkbox")
                                .on("change", function () {
                                    return false;
                                })
                                .on("click", function () {

                                    $(this).is(":checked") ? selectItem(item) : unselectItem(item);
                                });
                    },
                    align: "center",
                    width: 75,
                    sorting: false
                }
                ].concat({{ fields }})
            {% endautoescape %}

        });
        var selectedItems = [];

        var selectItem = function (item) {
            selectedItems.push(item);
        };

        var unselectItem = function (item) {
            selectedItems = $.grep(selectedItems, function (i) {
                return i !== item;
            });
        };

        var deleteSelectedItems = function () {
            if (!selectedItems.length || !confirm("Are you sure?")) {
                return;
            }

            $.each(selectedItems, function (_, item) {
                deleteItem: {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "DELETE",
                        url: "{{ request.path }}delete/",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "{{ request.path }}"
                    });
                }
            });

            selectedItems = [];
        };
    </script>
{% endblock %}