<div class="row">
    {% if exist %}
        {% for foo in main %}
            <button class="btn btn-sm btn-danger" id="delete" name="delete" onclick="deleteChart({{ foo }});"
                    style="padding: 5px; margin-left: 16px;">
                Delete
            </button>
            <div class="col-lg-12" style="text-align: right;">
                <label style="font-style: normal; font-weight: 500; font-size: 12px; color: #656565">Article: {{ foo }}</label>
            </div>
            <div id="lable_chart_{{ foo }}" style="padding: 5px;margin-left: 1%;"></div>
            <div id="chart_{{ foo }}"></div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No charts</p>
    {% endif %}
</div>

<script>
    function deleteChart(id_chart) {
        if (confirm("Are you sure?")) {
            return $.ajax({
                type: "DELETE",
                url: "{{ request.path }}delete/"+id_chart,
                data: {},
                dataType: "json",
                success: window.location.href = "{{ request.path }}"
            });
        }
    }

    {% autoescape off %}
        var j_data = {{ j_data }};
        var axis = {{ axis }};
        var label_chart = {{ label_chart }};
    {% endautoescape %}
    var c = 0;
    {% for iter in main %}
        var lable_chart_div = document.getElementById('lable_chart_{{ iter }}');
        for (var j = 0; j < j_data[0][{{ iter }}-{{ iter }}+c].length; j++) {
            lable_chart_div.innerHTML = "<p>"+ label_chart[c] +"</p>";
            var chart = c3.generate({
                bindto: '#chart_{{ iter }}',
                data: j_data[0][{{ iter }}-{{ iter }}+c][j]
                //axis: axis
            });
        }
        c++;
    {% endfor %}

</script>