{% block product_content %}
    <style>
        .jsgrid-table {
            width: 100% !important;
        }
    </style>
    <div class="col-lg-12">
        {% for table in tables %}
            <H2>Table: <strong style="color: red;">{{ table }}</strong></H2>
            <div id="{{ table }}" class="jsGrid"></div>
        {% endfor %}

    </div>

    <script type="text/javascript">

        var UserGridComponent = (function ($) {
            function Component(uid, controller) {
                this.controller = controller;
                this.uid = uid;
            }

            Component.prototype.createTable = function (settings) {
                settings.controller = settings.controller || this.controller;

                if (settings.fields && settings.fields.constructor === Array) {
                    settings.fields = settings.fields.concat(this.controller.fields);
                } else {
                    settings.fields = this.controller.fields;
                }

                var $wrapElement = $("#" + this.uid);
                $wrapElement.jsGrid(settings);
            };

            return Component;
        }(jQuery));

        var UserGridController = (function ($) {
            function Controller(path, clients, fields, hashFn) {
                this.basePath = path;
                this.clients = clients;
                this.fields = fields;
                this.getItemUniqueStr = hashFn || getObjectSCDHash;

                this.selectedItems = Object.create(null);
            }

            Controller.prototype.loadData = function () {
                return this.clients;
            };

            Controller.prototype.insertItem = function (item) {
                var path = this.basePath + 'insert/';
                return request("POST", path, item);
            };

            Controller.prototype.updateItem = function (item) {
                var path = this.basePath + 'update/';
                return request("PUT", path, item);
            };

            Controller.prototype.deleteItem = function (item) {
                var path = this.basePath + 'delete/';
                {#                item.csrfmiddlewaretoken = "{{ csrf_token }}";#}
                return request("DELETE", path, item);
            };

            Controller.getIDSFromMap = function (items) {
                var result = [];

                for (var hash in items) {
                    var value = items[hash];
                    if ("id" in value) {
                        result.push(value);
                    }
                }

                return result;
            };

            Controller.prototype.deleteMultipleItems = function (items) {
                var path = this.basePath + 'delete/';
                items = Controller.getIDSFromMap(items);

                if (items.length <= 0) {
                    return;
                }

                return request("DELETE", path, {
                    "items": items
                });
            };

            Controller.prototype.selectItem = function (item) {
                var hash = this.getItemUniqueStr(item);
                this.selectedItems[hash] = item;
            };

            Controller.prototype.uncheckItem = function (item) {
                var hash = this.getItemUniqueStr(item);
                if (this.isItemSelected(null, hash)) {
                    delete this.selectedItems[hash];
                }
            };

            Controller.prototype.isItemSelected = function (item, hash) {
                hash = hash || this.getItemUniqueStr(item);
                return (hash in this.selectedItems);
            };

            Controller.prototype.toggleItem = function (item) {
                if (!this.isItemSelected(item)) {
                    this.selectItem(item);
                } else {
                    this.uncheckItem(item);
                }
            };

            Controller.prototype.deleteSelectedItems = function () {
                console.log(this.selectedItems); // DEBUG ONLY;
                if (!confirm("Are you sure?")) {
                    return;
                }

                this.deleteMultipleItems(this.selectedItems);
            };

            return Controller;
        }(jQuery));

        function reloadPage() {
            document.location.reload(true);
        }

        function request(type, url, data) {
            return $.ajax({
                type: type,
                url: url,
                headers: {'X-CSRFToken': "{{ csrf_token }}"},
                data: data,
                dataType: "json",
                success: reloadPage
            });
        }

        function getObjectSCDHash(obj) {
            if (obj === null || typeof obj !== 'object') {
                return "[null]";
            }

            var strImpl = JSON.stringify(obj);
            var hash = 0;

            for (var i = 0; i < strImpl.length; i++) {
                var chr = strImpl.charCodeAt(i);
                hash = ((hash << 5) - hash) + chr;
                hash = hash & hash; // first 32 bits
            }

            return "h" + hash;
        }

        function getUID(item) {
            return ("id" in item) ? "u" + item.id : "[null]";
        }

        var requestPath = "{{ request.path }}";
        {% autoescape off %}
            var clientCollection = {{ items }};
            var fieldsCollection = {{ flds }};
            var tablesCollection = {{ tables }};
        {% endautoescape %}

        var headerRendererFn = function () {
            var self = this;
            return $("<button>").attr("type", "button").text("Delete")
                    .on("click", function () {
                        self.deleteSelectedItems();
                    });
        };

        var itemRendererFn = function (_, item) {
            var self = this;
            var isChecked = self.isItemSelected(item);
            return $("<input>").attr("type", "checkbox").prop("checked", isChecked)
                    .on("click", function () {
                        self.toggleItem(item);
                    });
        };


        for (var index = 0; index < tablesCollection.length; index++) {
            var userController = new UserGridController(
                    requestPath,
                    clientCollection[index],
                    fieldsCollection[index]
            );

            var elementIDName = tablesCollection[index];
            var userGTable = new UserGridComponent(elementIDName, userController);
            var headerTemplateFn = headerRendererFn.bind(userController);
            var itemTemplateFn = itemRendererFn.bind(userController);

            var settings = {
                width: "100%",
                inserting: true,
                sorting: true,
                editing: true,
                paging: true,
                autoload: true,
                confirmDeleting: true,
                pageSize: 15,
                pageButtonCount: 5,

                onRefreshed: itemTemplateFn,

                fields: [{
                    headerTemplate: headerTemplateFn,
                    itemTemplate: itemTemplateFn,
                    align: "center",
                    width: 75,
                    sorting: false
                }]
            };
            userGTable.createTable(settings);
        }
    </script>

{% endblock %}