{% extends "base.html" %}
{% block data_analytics %}
    <script src="/static/js/c3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-size: 20px">Data Analytics</h1>
        </div>
    </div>

    <div class="row">
        {% for foo in main %}
            <div id="chart_{{ foo }}"></div>
        {% endfor %}

    </div>
    <script>
        var ite = {{ main }};
        {% autoescape off %}
            var j_data = {{ j_data }};
            var axis = {{ axis }};
        {% endautoescape %}
        {% for iter in main %}
            for (var j = 0; j < j_data[0][{{ iter }}].length; j++) {
                var chart = c3.generate({
                    bindto: '#chart_{{ iter }}',
                    data: j_data[0][{{ iter }}][j]
                    //axis: axis
                });
            }
        {% endfor %}

    </script>

{% endblock %}