{% extends "base.html" %}
{% block product_header %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,400" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/static/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" type="text/css" href="/static/jsgrid/jsgrid-theme.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

    <script>window.jQuery || document.write('<script src="/js/jquery-1.8.3.js"><\/script>')</script>

    <script src="/static/jsgrid/jsgrid.min.js"></script>
    <script src="/static/jsgrid/i18n/jsgrid-fr.js"></script>
{% endblock %}

{% block product_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-size: 20px">Data Collect</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#general">General</a></li>
        {% for table in tables %}
            <li><a data-toggle="tab" href="#{{ table }}">{{ table }}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane fade in active">
            <div class="container" style="margin-top: 40px">
                <div class="col-lg-10">
                    {% include "pages/xls_uploader.html" %}
                </div>
            </div>
        </div>
        {% for table in tables %}
            <div id="{{ table }}" class="tab-pane fade" >
                <div class="container" style="margin-top: 40px">
                    <div class="col-lg-2">
                        <button class="btn btn-sm btn-danger" id="delete" name="delete" onclick="deleteItem();">Delete all
                        </button>
                    </div>
                    <div id="jsGrid" class="jsGrid"></div>
                </div>
            </div>
        {% endfor %}
    </div>


    {#    <div class="row">#}
    {#        <div class="col-lg-12">#}
    {#            <div class="col-lg-10">#}
    {#                {% include "pages/xls_uploader.html" %}#}
    {#            </div>#}
    {#            <div class="col-lg-2">#}
    {#                <button class="btn btn-sm btn-danger" id="delete" name="delete" onclick="deleteItem();">Delete all</button>#}
    {#            </div>#}
    {#            <hr>#}
    {#            <div id="jsGrid" class="jsGrid"></div>#}
    {#        </div>#}
    {#    </div>#}

    <script>
        function deleteItem() {
            if (confirm("Are you sure?")) {
                return $.ajax({
                    type: "DELETE",
                    url: "/product/delete_all/",
                    data: {},
                    dataType: "json",
                    success: window.location.href = "/product/"
                });
            }
        }

        {% autoescape off %}
            var clients = {{ items }};
        {% endautoescape %}
        $("#jsGrid").jsGrid({
            width: "100%",

            inserting: true,
            sorting: true,
            editing: true,
            paging: true,
            autoload: true,
            confirmDeleting: false,
            pageSize: 15,
            pageButtonCount: 5,

            controller: {
                loadData: function () {
                    return clients;
                },

                insertItem: function (item) {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "POST",
                        url: "/product/insert",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "/product/"
                    });
                },

                updateItem: function (item) {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "PUT",
                        url: "/product/update",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "/product/"
                    });
                },

                deleteItem: function (item) {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "DELETE",
                        url: "/product/delete",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "/product/"
                    });
                }

            },

            {% autoescape off %}
                fields: [{
                    headerTemplate: function () {
                        return $("<button>").attr("type", "button").text("Delete")
                                .on("click", function () {
                                    deleteSelectedItems();
                                });
                    },
                    itemTemplate: function (_, item) {
                        return $("<input>").attr("type", "checkbox")
                                .on("change", function () {
                                    $(this).is(":checked") ? selectItem(item) : unselectItem(item);
                                });
                    },
                    align: "center",
                    width: 40,
                    sorting: false,
                    editing: false
                }
                ].concat({{ fields }})
            {% endautoescape %}

        });
        var selectedItems = [];

        var selectItem = function (item) {
            selectedItems.push(item);
        };

        var unselectItem = function (item) {
            selectedItems = $.grep(selectedItems, function (i) {
                return i !== item;
            });
        };

        var deleteSelectedItems = function () {
            if (!selectedItems.length || !confirm("Are you sure?")) {
                return;
            }

            $.each(selectedItems, function (_, item) {
                deleteItem: {
                    item.csrfmiddlewaretoken = '{{ csrf_token }}';
                    return $.ajax({
                        type: "DELETE",
                        url: "/product/delete",
                        data: item,
                        dataType: "json",
                        success: window.location.href = "/product/"
                    });
                }
            });

            selectedItems = [];
        };
    </script>
{% endblock %}