{% extends "base.html" %}
{% block list_company_change %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-size: 20px">Company name:
                <i style="color: red">{{ company.company_name }}</i></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">General</a></li>
                <li><a data-toggle="tab" href="#menu1">Package</a></li>
                <li><a data-toggle="tab" href="#menu2">Change tables</a></li>
                <li><a data-toggle="tab" href="#menu3">Data collect</a></li>
                <li><a data-toggle="tab" href="#menu4">Data analytics</a></li>
                <li><a data-toggle="tab" href="#menu5">Data analytics setup</a></li>
                <li><a data-toggle="tab" href="#menu6">Data connect</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <H2 style="font-size: 20px">General</H2>
                    <p>Change general info</p>
                    <div class="col-md-4">
                        <form role="form" method="post" id="general" action="javascript:void(null);"
                              onsubmit="call('general')">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label>Company Name</label>
                                    {{ form_change_company.company_name }}
                                </div>
                                <div class="form-group">
                                    <label>Contact Name</label>
                                    {{ form_change_company.contact_name }}
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    {{ form_change_company.email }}
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    {{ form_change_company.address }}
                                </div>
                                <div class="form-group">
                                    <label>Telephone number</label>
                                    {{ form_change_company.phone }}
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-info btn-block" type="submit" value="Save">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <H2 style="font-size: 20px">Package</H2>
                    <p>Change Package and Permissions</p>
                    <div class="col-md-4">
                        <form role="form" method="post" id="package" action="javascript:void(null);"
                              onsubmit="call('package')">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label>Package</label>
                                    {{ pp_form.package }}
                                </div>
                                <div class="form-group">
                                    <label>Permissions update</label>
                                    {{ pp_form.update }}
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-info btn-block" type="submit" value="Save">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
                <div id="menu2" class="tab-pane fade">
                    <H2 style="font-size: 20px">Change tables</H2>
                    <p>Change tables for client</p>
                    {% include "pages/add_column.html" %}
                </div>
                <div id="menu3" class="tab-pane fade">
                    {#                    <ul class="nav nav-tabs">#}
                    {#                        {% for table in tables %}#}
                    {#                            <li><a data-toggle="tab" href="{{ table }}">{{ table }}</a></li>#}
                    {#                        {% endfor %}#}
                    {#                    </ul>#}
                    <H2 style="font-size: 20px">Data Collect</H2>
                    <p>Show tables and data</p>

                    {% include "pages/data_collect_admin.html" %}

                </div>
                <div id="menu4" class="tab-pane fade">
                    <H2 style="font-size: 20px">Data Analytics</H2>
                    {% include "pages/data_analytics_admin.html" %}
                </div>
                <div id="menu5" class="tab-pane fade">
                    <H2 style="font-size: 20px">Data Analytics setup</H2>
                    <p>Setup charts</p>
                    {% include "pages/data_analytics_admin_setup.html" %}
                </div>
                <div id="menu6" class="tab-pane fade">
                    <H2 style="font-size: 20px">Data Connect</H2>
                    <p>Show api info</p>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" language="javascript">
        function call(idForm) {
            var msg = $('#' + idForm).serializeArray();
            msg.push({name: "form_type", value: idForm});
            $.ajax({
                type: 'POST',
                url: '{{ request.path }}',
                data: msg,
                success: function (data) {
                    success_notify();
                },
                error: function (xhr, str) {
                    danger_notify(xhr.responseCode);
                }
            });
        }
    </script>
{% endblock %}