{% block menu %}
     <!-- Navigation -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/charts/"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                        </li>
                        <li>
                            <a href="/product/"><i class="fa fa-table fa-fw"></i> Product</a>
                        </li>
                        <li>
                            <a href="/add_column/"><i class="fa fa-bank fa-fw"></i> add_column</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
{% endblock %}