{% extends "base.html" %}
{% block profile %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profile</h1>
                <br><br>
                <div class="container-fluid well span6">
                    <div class="row-fluid">
                        <div class="span2">
                            <img src="{{ company_logo }}" class="img-responsive" style="height: 250px; width: 250px">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                    Action
                                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile/modify/"><span class="icon-wrench"></span> Modify</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="span8">
                            <h3>{{ username }}</h3>
                            <h4>Email: {{ email }}</h4>
                            <h4>First Name: {{ first_name }}</h4>
                            <h4>Last name: {{ last_name }}</h4>
                            <h4>Company: {{ company }}</h4>
                        </div>

                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
{% endblock %}